/* ContactUs.css */
.contact-us-container {
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  
  .contact-card {
    width: 20%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px black;
  }
  
  .contact-form {
    
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    text-align: center;
    margin-bottom: 8px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: blue;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  .heading{
    text-align: center;
  }